Repository BOSS-BigOpenSourceSibling/BigSibling, pull requests merged in 2020-10, with the labels that each got.

#97 Atualização do post mortem
  post_mortens/Temporada_1.md
Labels: Post mortem, Próxima Temporada

#98 Corrige links de roteiros e youtube de talks like a boss
  talk_like_a_boss/README.md
  talk_like_a_boss/roteiros/doc_opensource_clarissaeludi.md
  talk_like_a_boss/roteiros/doc_wildlife.md
Labels: bug, documentação, talk like a boss

#109 Guia de boas praticas para mentores(as)
  docs/conteudos/guia_para_mentoras.md
Labels: documentação, hacktoberfest-accepted

#100 Adição do roteiro da entrevista sobre a Síndrome da Impostora
  README.md
  talk_like_a_boss/README.md
  talk_like_a_boss/roteiros/doc_sindromedaimpostora.md
Labels: documentação, hacktoberfest-accepted, talk like a boss

#95 Atualiza post mortem com mais pontos para o formulario da proxima tem…
  post_mortens/Temporada_1.md
Labels: Post mortem, Próxima Temporada
